@import "main.css"; /* MAIN CSS */

/* GENERAL CSS */
:root {
  --img-opacity: 100%;
  --img-opacity-on-hover: 100%;
  --header-font-size: 36px;
}

.parent {
  display: flex;
  flex-direction: column;
}

body {
  display: flex;
  /* justify-content: center; */
}

.wrapper {
  position: absolute;
  left: 0px;
}

.content {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 100%;
  max-width: 1000px;
  justify-content: center;
  padding: 10px;
}

.content p img {
  margin: 10px;
  max-width: 600px;
  max-height: 600px;
  height: auto;
  width: auto;
}

.greeting {
  display: flex;
  flex-wrap: wrap;

}

p {
  margin: 10px;
  font-size: 1.2em;
  line-height: 1.5em;
  text-align: start;
}
h1 {
  font-size: 2em; 
  margin: 10px;
  padding: 10px;
  border-bottom: 2px solid var(--background-color-light);
}
h2 {
  font-size: 1.7em;
  margin: 10px;
  padding: 10px;
  border-bottom: 2px solid var(--background-color-light);
}

a {
  opacity: 100%;
}
a:hover {
  opacity: 100%;
  transition: opacity 0.3s ease;
}

ul,
ol,
li {
  font-size: 1.2em;
  line-height: 1.5em;
}

th {
  font-size: 20px;
  background-color: var(--primary-color);
  color: var(--background-color-dark);
  font-weight: 800;
}
table {
  border-collapse: collapse;
  width: fit-content;
  margin-right: 10px;
  margin-left: 10px;
}
tr td {
  font-size: 14px;
  padding: 4px;
  border-collapse: collapse;
}
tr:nth-child(odd) {
  background-color: transparent;
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
}
tr:nth-child(even) {
  background-color: var(--primary-color);
  border: 1px solid var(--primary-color);
  color: black;
}

/* CODE BLOCKS */
div.sourceCode {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  background-color: rgba(160, 204, 218, 0.6);
  color: black;
  font-weight: 700;
  border-radius: 5px;
  padding: 10px;
  margin-right: 20px;
  margin-left: 20px;
  font-size: 14px;
  z-index: 0;
}
div.sourceCode span[id^="cb1-"] {
  position: relative;
  right: 5px;
}

/* TITLE */
#title {
  margin: 26.8px;
  margin-left: 20px;
  margin-right: 20px;
}

/* Blinking Header */
.greeting {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  height: 100px;
}

#blinking-header-text {
  font-size: 36px;
  line-height: 60px;
  text-align: center;
  position: relative;
  margin: 0;
  padding: 0;
  border: none;
}

#blinking-header {
  display: flex;
}

#welcome {
  font-size: 36px;
  text-align: center;
  margin: 0;
  padding: 0;
  border: none;
}

#cursor {
  position: relative;
  height: 36px;
  width: 0px;
  border-style: solid;
  border-width: 3px;
  border-color: white;
  animation: blink 0.7s infinite;
  transition: border-color 0.5s ease;
}

#cursor.styleChanged {
  border-color: transparent;
}

@keyframes blink {
  0%,
  50% {
    opacity: 1;
  }
  51%,
  100% {
    opacity: 0;
  }
}

/* ZETTELS CSS */

.zettels-tags-div {
  display: flex;
  flex-direction: column;
}

#zettels {
  display: flex;
  flex-wrap: wrap;
  max-height: 250px;
  overflow: auto;
}

#available-tags {
}

label {
  color: var(--primary-color);
  font-size: 20px;
  width: 100%;
  text-decoration: underline;
}

input {
  width: fit-content;
  color: var(--primary-color);
  background-color: transparent;
  border-style: none;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
}

#zettels-header-div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

button#tag {
  width: fit-content;
  font-size: 16px;
  margin: 5px;
  padding: 10px;
  padding-top: 1px;
  padding-bottom: 1px;
  background-color: transparent;
  color: var(--primary-color);
  font-weight: 400;
  border-radius: 40px;
  cursor: pointer;
  border-style: solid;
  border-width: 1px;
  border-color: var(--primary-color);
}

p#zettel-link-tags {
  color: black;
  opacity: 80%;
}

#zettel-link {
  margin: 4px;
  padding: 4px;
  border-radius: 4px;
  font-weight: 900;
  font-size: 16px;
  background-color: var(--primary-color);
  color: var(--background-color-dark);
}
#zettel-link:hover {
  text-decoration: none;
}

#zettel-link-tags {
  font-size: 12px;
  margin: 0px;
  color: black;
}

#zettel-link-tags:hover {
  text-decoration: none;
}

/* ABOUT CSS */
#about-header {
  text-align: center;
}

/* Changes for tablet / half-window */
@media (max-width: 1400px) {
}

/* Changes for mobile */
@media (min-width: 0px) and (max-width: 650px) {
  #welcome {
    font-size: 36px;
  }
  #blinking-header-text {
    font-size: 36px;
  }
  #zettels-header-div {
  }
  .header {
    flex-direction: column;
    justify-content: flex-start;
  }
}
