@import "stars.css"; /* BACKGROUND CSS */

/* CSS VARIABLES */
:root {
  --primary-color: #a3acce;
  --background-color-light: #1b2735;
  --background-color-medium: #091320;
  --background-color-dark: #090a0f;
  --text-opacity: 70%;
  --text-opacity-on-hover: 100%;
}

/* GENERAL CSS */
html {
}

body {
  height: 100%;
  width: 100%;
  overflow: auto;
  background: radial-gradient(
    ellipse,
    var(--background-color-light) 0%,
    var(--background-color-dark) 100%
  );
  color: var(--primary-color);
  font-family: "JetBrains Mono", monospace;
}

#title {
    margin: 5px;
    align-self: flex-start;
}

h2 {
  margin: 20px;
  font-size: 30px;
  line-height: 45px;
}

h3 {
  font-size: 14px;
  position: relative;
  top: 10px;
  left: 10px;
}

p {
  margin: 40px;
  font-size: 20px;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* LAYOUT CSS */
.parent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 1400px;
  align-items: center;
  margin: 0 auto;
}

.container {
  display: flex;
  flex-direction: row;
  /* max-width: 1400px;
  justify-content: center;
  margin: 0 auto; */
}

section {
  border: 1px solid var(--primary-color);
  padding: 20px;
  margin: 5px;
  z-index: 1;
}

section:hover {
  background-color: var(--background-color-medium);
  z-index: 1;
}

/* ABOUT CSS */
.about {
  flex-basis: 60%;
}

/* DEEP DIVE CSS (right-hand div)*/
.deep-dive {
  flex-basis: 40%;
}

/* PROJECTS CSS */
section.projects {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-items: center;
  font-size: 16px;
  flex-basis: 40%;
  height: 500px;
  flex-grow: 1;
  overflow: auto;
}

#project {
  margin: 10;
  opacity: var(--text-opacity);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-grow: 1;
  color: var(--primary-color);
  width: 50%;
}

#project:hover {
  text-decoration: none;
  opacity: var(--text-opacity-on-hover);
}

#project-title {
  font-size: 16px;
}

/* ZETTELKASTEN CSS */
section.zettelkasten {
  display: flex;
  flex-direction: column;
}

#zettel {
  margin: 20px;
  font-size: 16px;
  opacity: var(--text-opacity);
  color: var(--primary-color);
}
#zettel:hover {
  opacity: var(--text-opacity-on-hover);
  text-decoration: none;
}

/* FOOTER CSS */
.footer {
  margin-top: 20px;
  display: flex;
  align-self: flex-start;
}

#icon {
  opacity: 50%;
  margin: 5px;
}
#icon:hover {
  opacity: 100%;
  text-decoration: none;
}

/* MEDIA CSS */
@media screen and (max-width: 1000px) {
  #project {
    width: 100%;
  }
}

@media screen and (max-width: 600px) {
  .container {
    flex-direction: column;
  }
  :root {
    --text-opacity: 100%;
    --text-opacity-on-hover: 100%;
  }
  #project:hover {
    text-decoration: underline;
  }
  #zettel:hover {
    text-decoration: underline;
  }

}
